.cards {
  margin: 0 auto;
  max-width: 1280px;
  padding-top: 20px;
  padding-bottom: 40px;
  border-bottom: 1px solid #21212166;
}

@media screen and (max-width: 630px) {
  .cards {
    justify-content: center;
  }
}

.cards__list {
  display: grid;
  margin: 0;
  padding: 0;
  list-style: none;
  column-gap: 20px;
  row-gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(min(413px, 100%), 1fr));
}

.cards__list li {
  width: 100%;
  height: 100%; /* ensures li matches card height */
}

.cards__card {
  max-width: 100%;
}

.cards__image {
  max-width: 100%;
  aspect-ratio: 1/1;
  border-radius: 8px;
  margin-bottom: 12px;
}

.cards__division {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.cards__caption {
  margin: 0;
  display: inline;
  max-width: 100%;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 120%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.cards__like {
  opacity: 40%;
  width: 23px;
  height: 20px;
}

.cards__like:hover {
  cursor: pointer;
  opacity: 100%;
}
