.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 60px 0;
}

.footer__copy {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 100%;
  color: #212121b2;
}
