.header {
  margin: 0 auto;
  background-color: #fff;
  max-width: 100%;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.header__logo {
  width: 94px;
  height: 26px;
}
