.modal {
  visibility: hidden;
  transition: visibility 0.5s linear, opacity 0.5s linear;
  opacity: 0;
  position: fixed;
  max-width: 100%;
  background-color: #00000080;
  display: flex;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 10px;
  gap: 16px;
}

.modal_is-opened {
  visibility: visible;
  transition: opacity 0.5s linear;
  opacity: 1;
}

.modal__container {
  box-sizing: border-box;
  margin: 0 auto;
  justify-content: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #fff;
  gap: 32px;
  max-width: 730px;
  width: 100%;
  padding: 36px 50px 32px;
  border-radius: 8px;
  position: relative;
}

.modal__title {
  margin: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2em;
  line-height: 100%;
}

.modal__close-button {
  background: none;
  border: 0px;
  position: absolute;
  top: 32px;
  right: 50px;
  cursor: pointer;
  opacity: 0.4;
}

.modal__close-button:hover {
  opacity: 1;
  cursor: pointer;
}

.modal__form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 32px;
}

.modal__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 8px;
}

.modal__label {
  display: block;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1em;
  line-height: 110.00000000000001%;
  color: #212121b2;
}

.modal__input {
  box-sizing: border-box;
  display: block;
  border: 1px solid #21212166;
  border-radius: 8px;
  min-width: 86%;
  min-height: 52px;
  padding: 16px 12px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.25em;
  line-height: 100%;
}

.modal__input:hover {
  border: 1px solid #212121;
  cursor: pointer;
}

.modal__submit-button {
  max-width: 156px;
  min-height: 52px;
  border-radius: 8px;
  background-color: #212121;
  color: #fcf5e5;
  border-style: none;
}

.modal__submit-button:hover {
  background-color: #212121cc;
  cursor: pointer;
}

.modal__image-caption-wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  position: relative;
}

.modal__close-button_image {
  background: none;
  border: 0px;
  cursor: pointer;
  opacity: 0.4;
  position: absolute;
  top: 100px;
  right: -40px;
  padding: 0;
}

.modal__close-button_image:hover {
  opacity: 1;
  cursor: pointer;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  border-radius: 8px;
}

.modal__caption {
  margin-top: 8px;
  border-radius: 8px;
  align-self: flex-start;
  padding: 4px 8px;
  background-color: #212121;
  color: #fff;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 120%;
}

@media screen and (max-width: 630px) {
  .modal__container {
    padding: 22px 12px 12px;
  }

  .modal__close-button {
    top: 22px;
    right: 12px;
  }

  .modal__submit-button {
    align-self: center;
    min-width: 100%;
  }
}
