.profile {
  width: 100%;
}

.profile__info {
  margin: 0 auto;
  padding: 34px 0 20px;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  border-bottom: 1px solid #21212166;
  flex-wrap: wrap;
  overflow: hidden;
}

@media screen and (max-width: 630px) {
  .profile__info {
    flex-direction: column;
    align-items: center;
  }
}

.profile__avatar-image {
  max-width: 190px;
  aspect-ratio: 1/1;
  border-radius: 8px;
}

.profile__text {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 20px;
  max-width: 420px;
}

@media screen and (max-width: 630px) {
  .profile__text {
    padding: 12px 16px 32px;
    text-align: center;
  }
}

.profile__name {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Number of lines to display before truncating */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 32px;
  line-height: 1;
  font-weight: 500;
  color: #212121;
}

.profile__description {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 100%;
  color: #212121b2;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Number of lines to display before truncating */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile__edit-button {
  margin-top: auto;
  border: none;
  display: flex;
  gap: 8px;
  background-color: transparent;
  text-align: left;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 100%;
  padding: 0;
  color: rgba(33, 33, 33, 0.7);
}

@media screen and (max-width: 630px) {
  .profile__edit-button {
    align-self: center;
  }
}

.profile__edit-button:hover {
  cursor: pointer;
  color: rgba(33, 33, 33, 1);
}

.profile__edit-icon {
  opacity: 0.7;
}

.profile__edit-button:hover .profile__edit-icon {
  opacity: 1;
}

.profile__new-post-button {
  margin: auto 0 0 auto;
  align-self: flex-end;
  padding: 1.125em 2em;
  display: flex;
  gap: 8px;
  border-radius: 0.5em;
  background-color: #212121;
  color: #fcf5e5;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 100%;
  border-style: none;
}

@media screen and (max-width: 630px) {
  .profile__new-post-button {
    justify-content: center;
    margin: 0 auto;
    width: 100%;
  }
}

.profile__new-post-button:hover {
  background-color: #212121cc;
  cursor: pointer;
}
